.App {
  height: 200vh;
}

.Footer {
  height: 10vh;
  width: 100vw;
  background-color: rgb(20, 20, 20);
}

.NavBar {
  height: 5vh;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.459);
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.NavBar--transparent {
  border: 1px solid white;
  background-color: transparent;
  width: 100vw;
  display: flex;
  justify-content: end;
}

.Menu {
  background-color: rgba(20, 20, 20, 0.459);
  border-radius: 25px;
}

.h2 {
  font-size: 2em;
}
